body
{
	background-color:#d3d4e0;
}
#tweeter /*Styles the Unordered list*/
{
    width:40%;
    list-style:none;
}
.tweet /*Styles each individual tweet*/
{
    background: #70CFF4;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 3px #020203;
    margin: 2%;
    padding: 8% 5%;
    border:solid 2px #4BBAED;
    font-family: "Lucida Grande", Verdana, sans-serif;
}
.tweet a
{
	color: #CF905A;
	text-decoration: none;
}
.tweet a:hover
{
	text-decoration: underline;
}

.tweet strong
{
	color:#FCFCFC;
	font-size:0.9em;
	padding: 2% 0 0 1%;
	display:block;
	font-variant: small-caps;
}